{{#unless this.currentUser}}
  <div class="sktvd-club-header-auth">
    <a
      href={{this.registerUrl}}
      class="btn btn-default sktvd-club-btn-register"
      title="Зарегистрироваться и подать заявку в Клуб"
    >
      Регистрация
    </a>
    <button
      type="button"
      class="btn btn-primary sktvd-club-btn-login"
      title="Войти в Клуб"
      {{on "click" (action "login")}}
    >
      Вход
    </button>
  </div>
{{/unless}}
