{{#unless this.currentUser}}
  <div class="sktvd-club-header-auth">
    <a
      href="https://skotovody.com/?auth=register&from=club&redirect_to={{this.returnUrl}}"
      class="btn btn-default sktvd-club-btn-register"
      title="Подать заявку на вступление в Клуб"
    >
      Регистрация
    </a>
    <a
      href="https://skotovody.com/?auth=login&from=club&redirect_to={{this.returnUrl}}"
      class="btn btn-primary sktvd-club-btn-login"
      title="Войти в Клуб"
    >
      Вход
    </a>
  </div>
{{/unless}}
